<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is just a todo app with multiple lists for your convinience</p>

<p>This was made for testing purposes</p>

<%- include("footer") -%>
